$font-Raleway:'Raleway', 'Avenir', sans-serif;
$font-Montserrat:  'Montserrat', 'Proxima Nova', sans-serif;
$font-Roboto:  'Roboto', 'FF DIN', sans-serif;

$wrap-width: 1200px;
$h1-size: 36px;

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/static/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/static/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/static/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
body {
    margin: 0;
}
.wrap {
    max-width: $wrap-width;
    margin: 0 auto;
    
}

.Montserrat-300 {
    font-family: $font-Montserrat;
    font-style: normal;
    font-weight: 300;
}

.Montserrat-400 {
    font-family: $font-Montserrat;
    font-style: normal;
    font-weight: 400;
}

.Raleway-400 {
    font-family: $font-Raleway;
    font-style: normal;
    font-weight: 400;
}
.Raleway-500 {
    font-family: $font-Raleway;
    font-style: normal;
    font-weight: 500;
}
.Raleway-600 {
    font-family: $font-Raleway;
    font-style: normal;
    font-weight: 600;
}

.Roboto-400 {
    font-family: $font-Roboto;
    font-style: normal;
    font-weight: 400;
}

.header {
    background: url(img/bg_header.png);
    background-size: auto 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-color: rgb(58, 53, 53);
    background-position: center;
    color: white;
    display: flex;
    padding: 40px 60px;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    &-main {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto;

        &-list {
            padding: 5px;
            &:hover {
                list-style-type: circle;
            }
        }
    }

    &-h1 {
        margin: 0 auto;
        font-size: 52px;
    }

    &-h2 {
        margin: 0 auto;
        font-size: 36px;
    }

    &-text {
        margin: 0 auto;
        font-size: 16px;
    }

    &-get-started {
        margin-top: 39px;
        width: fit-content;
        padding: 18px 40px;
        font-size: 14px;
        color: white;
        background-color: #988574;
        border: none;
        outline: none;
        border-radius: 3px;
        text-transform: uppercase;
        transition: ease-out 0.3s;

        &:hover {
            background-color: #615346;
            transform: rotateX(360deg);
        }
    }
    
    &-btn {
        background: transparent;
        fill: white;
        border: none;
        transition: 0.4s;

        &:active {
            decoration: none;
        }

        &:hover {
            fill: #d3c1ac;
        }
    }
    
    &-bottom {
        align-self: center;
    }

    &-pagination {
        display: flex;
        align-self: flex-end;
    }
}

.logo {
    display: flex;
    align-items: center;
    &-text {
        font-size: 34px;
    }
}

.burger {
    text-decoration: none;
    color: white;
    font-size: 26px;
    align-self: flex-end;
    &:hover {
        color:#C7B299;
        
    }
    
}

.nav {
    padding-left: 30px;
    &-link {
        opacity: 0;
        position: relative;
        line-height: 10em;
        top: -150px;
        text-decoration: none;
        color: white;
        font-size: 14px;
        padding: 10px;
        &:hover {
            color:#C7B299;
        }
    }
    // &::after {
    //     content: 'ᐁ menu';
    //     display: inline-block;
    //     width: fit-content;
    //     font-size: 1em;
    //     position: relative;
    //     top: -30px;
    //     right: 75px;        
    // }
    &:hover &-link {
        animation: opacityAnim 1s ease-in-out;
        animation-fill-mode: forwards;
    }
}

@keyframes opacityAnim {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
  }

.services {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
    align-items: center;
    text-align: center;
    color: #555555;
    align-items: flex-end;

    &-mini {
        padding: 10px;
        fill: #555555;

        &::after {
            content: '';
            border-bottom: 3px solid #F1EEE9;
            display: block;
            width: 70px;
            height: 0;
            margin: 0 auto;

        }
        &:hover h2 {
            color: #c7b299;
        }
        &:hover svg {
            transform: scale(1.5);
        }
        &:hover path {
            fill: #c7b299;
        }
        &:hover::after{
            border-bottom: 3px solid #C7B199;
        }
        

        &-head {
            font-size: 22px;
            white-space: nowrap;
        }
        &-text {
            font-size: 14px;
        }
    }
    
}

.realization {
    margin-bottom: -4px;
    padding-top: 80px;
    align-items: center;
    text-align: center;
    background-color: #fbfaf8;

    &-head {
        font-size: 30px;
        color: #555555;
    }
    &-text {
        font-size: 16px;
        color: #8C8C8C;
        width: 63%;
        margin: 20px auto;
    }
    &-img {
        margin-top: 40px;
        width: 100%;
    }
}

.purchase-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchase {
    background: linear-gradient(to right, #211B19, #4E3326);
    &-content-head {
        font-size: 28px;
        color: white;
        margin: 30px 0 0 6px;
        &-waxom {
            color: #C7B299;
        }
    }
    &-content-text {
        font-size: 18px;
        color: #615855;
        margin-top: 6px;
    }
    &-btn {
        width: fit-content;
        padding: 18px 40px;
        font-size: 14px;
        color: white;
        background-color: #988574;
        border: none;
        outline: none;
        border-radius: 3px;
        text-transform: uppercase;
        transition: ease-out 0.3s;

        &:hover {
            background-color: #615346;
            transform: rotateX(360deg);
        }
    }
}

.project {
    display: flex;
    text-align: center;
    margin-bottom: 33px;
    &-desc-head {
        margin: 60px auto 9px;
        font-size: 30px;
        color: #555555;
    }
    &-desc-text {
        margin: 9px auto 27px;
        width: 63%;
        font-size: 16px;
        color: #8C8C8C;
    }
    &-btn-select {
        margin: 5px;
        padding: 7px 17px;
        color: #8c8c8c;
        border: 1px solid #8c8c8c;
        background: none;
        border-radius: 3px;
        font-size: 14px;
        outline: none;
        &:hover {
            background-color: #988574;
            border: 1px solid #988574;
            color: white;
        }
        &:active {
            background-color: #998575;
            border: 1px solid #998575;
            color: white;
        }
    }
    &-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    &-item {
        width: 31%;
        margin: 69px auto;
        &-desc {
            text-align: left;
            background-color: #FBFAF8;
            padding: 26px;
            margin: -4px 0;
            &::before {
                content: '';
                display: block;
                height: 0;
                width: 0;
                border: 10px solid transparent;
                border-bottom-color: #FBFAF8;
                position: relative;
                bottom: 45px;
            }
            &-head {
                font-size: 20px;
                color: #C7B299;
                margin: 0;
            }
            &-text {
                font-size: 14px;
                color: #D1D1D1;
            }
        }
        &-img {
            width: 100%;
        }       
        &:hover &-desc {
            background-color: #352F2D;
        }
        &:hover &-desc::before {
            border-bottom-color: #352F2D;
        }
        &:hover &-desc-head{
            color: white;
        }
        &:hover &-img {
            filter: saturate(50%);
        }
    }
    &-btn-load {
        width: fit-content;
        padding: 18px 40px;
        font-size: 14px;
        color: white;
        background-color: #988574;
        border: none;
        outline: none;
        border-radius: 3px;
        text-transform: uppercase;
        transition: ease-out 0.3s;

        &:hover {
            background-color: #615346;
            transform: rotateX(360deg);
        }
    }
}

.video {
    color: white;
    background-image: url(img/bg_video_presentation.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #736e6b;
    padding: 240px;
    &-content{
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    &-header {
        font-size: 30px;
        color: white;
    }
    &-text {
        font-size: 16px;
        margin: 0;
        line-height: 20px;  
    }
    &-icon {
        align-self: center;        
    }
}
.mobile {
    background-color: #fbfaf8;
    padding: 78px 20px 0;
    &-content-head {
        font-size: 30px;
        color: #555555;
    }
    &-content-list {
        list-style-type: none;
        margin-top: 50px;
    }
    &-content-li {
        margin-top: 11px;
        display: flex;
        align-items: flex-start;
        &::before {
            content: url(img/mobile-li.svg);
            display: inline-block;
            width: 21px;
            height: 21px;
            margin-right: 8px;
        }
    }
}
.mobile-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.couters {
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, #211B19, #4E3326);
    background-color: #4E3326;
    padding: 36px;
    margin: 0;
    &-desc-numb {
        font-size: 48px;
        color: white;
        margin: 0;
    }
    &-desc-text {
        font-size: 14px;
        color: #C7B299;
        margin: 0;
        &:after {
            content:'';
            display: block;
            width: 30px;
            border-top: 2px solid white;
            position: relative;
            top: 15px;
            margin: 0 auto;
        }
    }
}

.resent {
    align-items: center;
    padding: 100px 0;
    position: relative;
    &-top {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-head {
        padding-bottom: 20px;
        font-size: 30px;
        color: #555555;
    }
    &-text {
        width: 67%;
        color: #8C8C8C;
        font-size: 14px;
    }
    &-posts {
        display: flex;
        justify-content: space-between;
    }
    &-img { 
        width: 100%;
    }
    &-date {
        position: absolute;
        width: fit-content;
        text-align: center;
        padding: 19px;
        z-index: 2;
        &-top {
            margin: 0;
            background-color: #363636;
            color: white;
            font-size: 30px;
            border-radius: 3px 3px 0 0;
        }
        &-bottom {
            background-color: #242424;
            color: white;
            margin: 0;
            font-size: 12px;
            padding: 5px 13px;
            border-radius: 0 0 3px 3px;

        }
    }
    &-item:hover .post-desc {
        background-color: #352F2D;
    }
    &-item:hover .post-desc-head {
        color: #C7B299;
    }
    &-item:hover .post-desc-text {
        color: white;
    }
    &-item:hover &-date-top {
        background-color: #C7B199;
    }
    &-item:hover &-date-bottom {
        background-color: #A48D71;
    }
    &-item:hover &-img {
        filter: saturate(50%);
    }    
}
.post-desc {
    margin-top: -5px;
    padding: 23px;
    border: 1px solid #B2B2B2;
    border-top: transparent;
    &-head {
        font-size: 20px;
        color: #555555;
    }
    &-text {
        font-size: 14px;
        color: #000000
    }
    &-link {
        text-decoration: none;
        color: #C7B299;
        &::after {
            content: url(img/resent-icon-arrow.svg);
            margin-left: 9px;
            height: 1em;
        }
    }
}

.partners {
    margin: 0;
    background-image: url(img/bg_partners.png);
    background-repeat: no-repeat;
    background-color: rgb(58, 53, 53);
    background-position: center;
    background-size: auto 100%;
    padding: 140px;
    &-main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &-item {
        margin: 30px;
    }
}

.footer {
    &-top {
        padding: 100px 0;
        background-color: #161515;
        margin-bottom: -17px;
        &-main {
            display: flex;
            justify-content: space-between;
        }
    }
    &-waxom-logo {
        display: flex;
        margin-bottom: 23px;
    }
    &-head-logo {
        font-size: 34px;
        color: white;        
    }
    &-head {
        color: white;
        font-size: 24px;
        margin-bottom: 23px;
    }
    &-text {
        font-size: 14px;
        color: #555555;
        margin: 0;
        &-blue {
            color: #00BFF3;
        }
    }
    &-link {
        text-decoration: none;
        color: #D1D1D1;
        display: block;
        margin-top: 16px;
        &::after {
            content: url(img/footer-icon-arrow.svg);
            margin-left: 9px;
            height: 1em;
        }
    }
    &-desc {
        font-size: 12px;
        color: #363636;
        margin: 6px 0;
    }
    &-column {
        width: 22%;
        margin: 0;
        &-item {
            margin: 0;
            &:hover .footer-text {
                color: #C7B299;
            }
            &:hover .footer-desc {
                color: #FFFFFF;
            }
        }
        &-event::after {
            content: '';
            display: block;
            height: 0;
            width: 100%;
            border-bottom: 1px solid #242424;
            margin: 16px 0;
        }
        &-event::before {
            content: '';
            display: block;
            height: 0;
            width: 100%;
            border-bottom: 1px solid #242424;
            margin: 16px 0;
        }
    }

    &-bottom {
        background-color: #101010;
        min-height: 115px;
        &-list {
            list-style-type: none;
            color: #555555;
            font-size: 13px;
            padding: 4em 0 0 0;
        }
        &-li {
            display: inline;
            &:hover {
                color: #BAA78F;
            }
            &::after {
                content: '';
                height: 2em;
                border-right: 1px solid #555555;
                margin-left: 13px;
                margin-right: 11px;
            }
            &:last-child::after {
                content: none;
            }
        }
    }
}

// .dribbble-content {
//     display: flex;
//     flex-wrap: wrap;
   
//     &-img {
//         margin-top: 9px;
//         width: 48%;
//     }
// }
// .dribbble-content .dribbble-content-img:nth-child(2n-1) {
//     margin-right: 9px;
// }

.dribbble-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    &-img {
        width: 100%;
    }
}

@media (max-width: 1240px) {
    .wrap {
        max-width: 1024px;
    }
    .nav {
        padding: 0;
    }
    .logo-img {
        width: 70%;
        height: 70%;
    }
    .logo {
        font-size: 26px;
    }
    .nav-link {
        padding: 6px;
    }
    .video {
        padding: 160px;
    }
    .wideo-content {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .wrap {
        max-width: 991px;
    }
    .nav-link {
        display: none;
    }
    .services {
        flex-wrap: wrap;
        justify-content: center;
    }
    .services-mini {
        width: 60%;
    }
    .video {
        padding: 100px;
    }
    .mobile-content-list {
        padding-left: 0px;
    }
    .footer-top-main {
        display: block;
    }
    .footer-column {
        width: 60%;
        margin: 0 auto;
    }
    .footer-bottom {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 991px){
    $wrap-width: 767px;
    .wrap {
        max-width: $wrap-width;
    }
    .header {
        justify-content: center;
        padding: 20px;
    }
    .header-h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .header-h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .header-content {
        width: 90%;
    }
    .header-btn {
        display: none;
    }
    .services-mini {
        padding: 7px;
    }
    .services-mini-head {
        font-size: 20px;
    }
    .realization-text {
        width: 90%;
    }
    .project-items {
        padding: 0 16px;
    }
    .project-item {
        width: 48%;
        margin: 16px auto;
    }
    .project-btn-load {
        margin-top: 26px;
    }
    .project-item-desc-head {
        white-space: nowrap;
    }
    .project-desc-text {
        width: 90%;
    }
    .video {
        padding: 100px 20px;
    }
    .video-content {
        width: 90%;
    }
    .couters {
        display: block;
    }
    .couters-item {
        margin-top: 36px;
    }
    .resent-text {
        width: 90%;
    }
    .resent-posts {
        display: block;
    }
    .footer-bottom-list {
        text-align: center;
        padding: 2em 0;
    }
    .footer-bottom-li {
        display: block;
        padding-top: 16px;
        &::after {
            content: none;
        }
    }
}

@media (max-width: 767px) {
    .wrap {
        max-width: 767px;
    }
    .header-content {
        width: 100%;
    }
    .services {
        justify-content: center;
        flex-wrap: wrap;
        padding: 36px 0;
    }
    .services-mini {
        width: 90%;  
        margin-top: 36px;
    }
    .mobile-img {
        display: none;
    }
    .realization {
        padding-top: 20px;
    }
    .purchase-main {
        flex-direction: column;
        text-align: center;
    }
    .purchase-content-head {
        font-size: 24px;
    }
    .purchase-content-text {
        font-size: 16px;
    }
    .purchase-btn {
        margin-bottom: 26px;
    }
    .project-item {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .purchase-content-head {
        font-size: 16px;
    }
    .purchase-content-text {
        font-size: 12px;
    }
    .purchase-btn {
        margin-bottom: 16px;
    }
    .project-item {
        width: 80%;
        margin: 16px auto;
    }
}